* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

button {
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

#cont {
    margin-top: 100px;
    margin-left: 25%;
    padding: 10px;
}

#dateAndSort {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#time {
    height: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#date {
    color: #ccc;
    margin: 6px;
}

#today {
    color: #fff;
    font-size: 30px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 10px;
    transition: 400ms ease-in-out;
}

.task:hover {
    background-color: #2e343a;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    color: #fff;
    padding: 5px;
    font-size: 20px;
}

input[type="checkbox"] {
    margin-bottom: 10px;
    outline: none;
}

.task-name {
    margin-left: 5px;
}

.add-cont {
    width: 100%;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    outline: none;
}

#save {
    background-color: #28a745;
    color: #fff;
    font-weight: 900;
}

#btnCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#clearAll {
    border: none;
    outline: none;
    background-color: transparent;
    color: #666666;
}